@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

:root {
  --main-clr: #0097b2;
  --my-font: "Mulish", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


